# PostgreSQL Credentials
POSTGRES_USER=chirpstack
POSTGRES_PASSWORD=chirpstack
POSTGRES_DB=chirpstack

# Hostnames for Traefik
CHIRPSTACK_HOSTNAME=chirpstack.acme.com
CHIRPSTACK_API_HOSTNAME=chirpstack-api.acme.com
MOSQUITTO_HOSTNAME=mqtt.acme.com

